.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.text-area {
  resize: none;
  height: 100% !important;
  padding: 10px;
}

#footer {
  margin: 10px;
  margin-bottom: 30px;
}
#exampleText {
  resize: none;
  min-height: 500px;
}
#main-content {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}
.form-control:focus {
  box-shadow: none;
}

.message-box {
  position: absolute;
  top: 1px;
  right: 1px;
  background: #f0f0f0;
  padding: 2px 15px;
  border-radius: 0 4px 0 4px;
  color: #a0a0a0;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}
.social-logo {
  margin-left: 5px;
}
.edit-link {
  color: red;
}

.edit-textbox {
  width: 140px;
}
.edit-box {
  display: inline-block;
}
.cursor-default {
  margin-top: 5px;
  display: inline-block;
  cursor: default;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
